# PostgreSQL — utilisés par docker-compose pour initialiser la base
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Port exposé du backend NestJS
PORT=3001
